---
title: "Identity Verification"
source: "https://help.salesforce.com/s/articleView?id=ind.insurance_identity_verification.htm&language=en_US&type=5"
scraped: "2026-04-14"
filter: "ind.insurance_"
---# Identity Verification

Identity Verification[](https://help.salesforce.com/s?language=en_US)

You are here:

1.  [Salesforce Help](/s/?language=en_US)
2.  [Docs](/s/products?language=en_US)
3.  [Digital Insurance](https://help.salesforce.com/s/articleView?id=ind.insurance_admin_standard.htm&language=en_US&type=5)

# Identity Verification

Use Identity Verification to verify the identity of a customer or their authorized representative. Protect a customer’s personally identifiable information (PII) when processing requests, preventing its unauthorized use and complying with data regulations. A customer service representative can verify a caller’s identity by asking them preset questions and locating their profile in the customer database. You can choose which details a person must provide to prove their identity, such as a social security number, birth date, email, or phone number.

The identity verification process relies on identity verification objects and flows, which can be customized to meet your business needs.

-   **[How Identity Verification Works in Insurance](https://help.salesforce.com/s/articleView?id=ind.insurance_how_identity_verification_works_in_insurance.htm&language=en_US&type=5)**  
    How a call center agent verifies a caller’s identity depends on whether you want the agent to verify just the caller or both the caller and the person they represent.
-   **[Components of Identity Verification in Insurance](https://help.salesforce.com/s/articleView?id=ind.insurance_components_of_identity_verification_in_insurance.htm&language=en_US&type=5)**  
    The Identity Verification feature consists of Identity Verification objects, Engagement Interaction objects, and Identity Verification flows.
-   **[Verify an Insurance Customer and Their Representative](https://help.salesforce.com/s/articleView?id=ind.insurance_verify_insurance_customer_and_their_representative.htm&language=en_US&type=5)**  
    Verify a customer's identity before processing their requests involving sensitive information, and store details about the interaction. If an engagement is about someone other than the customer, you can perform verification for both people.

Did this article solve your issue?

Let us know so we can improve!

YesNo